In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

In [2]:
conf = SparkConf().setMaster('local').setAppName('Spark ML Example')
sc = SparkContext(conf = conf)

In [3]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [4]:
dataset = spark.read.format("libsvm").load("/usr/local/spark/data/mllib/sample_kmeans_data.txt")

In [6]:
dataset.toPandas()

   label         features
0    0.0  (0.0, 0.0, 0.0)
1    1.0  (0.1, 0.1, 0.1)
2    2.0  (0.2, 0.2, 0.2)
3    3.0  (9.0, 9.0, 9.0)
4    4.0  (9.1, 9.1, 9.1)
5    5.0  (9.2, 9.2, 9.2)